# gitignore

*.pdf
# !setlists/2025-06-08-Lobpreis.pdf
# !setlists/2024-04-28_Lobpreisabend.pdf
!setlists/2025-06-28-Lounge.pdf
# !setlists/2025-05-08-FamilyTime.pdf
# !setlists/2024-09-28_BCT.pdf
# git rm -r --cached setlists
*.aux
*.log
*.out
*.gz
*.toc
*.lof
*.lot
