# gitignore

*.pdf
!setlists/2024-06-23_Lobpreis.tex
# !setlists/2024-04-28_Lobpreisabend.pdf
# !setlists/2024-01-20_Lounge20.pdf
# !setlists/2024-03-14_FamilyTime.pdf
# git rm -r --cached setlists
*.aux
*.log
*.out
*.gz
*.toc
*.lof
*.lot
